tr{
    height: 30px;
}
.mi-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo-morado{background-color:#62455a;}
.fondo-azul{background-color:#313d66;}
table{
    border-collapse: collapse;
    width: 100%;
}
table th, td{
    
    border: 1px solid white;
    padding: 8px;
}
#lista-enlaces{
    text-align: center;
    border-bottom: white solid ;    
}

#lista-enlaces li{
    display: inline-block;
    padding:5px 30px ;
}

#lista-enlaces li a{
    text-decoration: none;
}
.texto-blanco{
    color: white;
}
.texto-azul{
    color: #344955;
}
body{
    background-color: #78A083;
}
.contenedor{
    text-align: center;
    margin: 30px 0px;
}
.contenedor img {
    height: 520px;
    width: 400px;
    border: #344955 solid; 
    border-radius: 10px;
}
.subtitulo{
    text-align: center;
    color: #62455a;

}
.texto-morado{
     color: #62455a;
}
.principal{
    color:#313d66;
     background-color:rgba(255,255,255,0.2);
     border-radius: 10px;
     padding: 2px 10px;
     margin: 5px;
}